// Colors
$dark-blue: #1E2E3D;
$light-blue: #C4D9E8;
$blue: #08A3C9;
$black: #000;
$white: #fff;

// Font colors
$text-base: #1e2e3d;
$text-dark: #333;
$text-sub: #707070;

// Typography
$font-root-size: 14px;
$font-stack: 'open-sans', sans-serif;
$alt-stack: 'montserrat', sans-serif;
$header-stack: 'josefin-sans', sans-serif;
$style: normal;
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// General
html {
    font-size: $font-root-size;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    color: $text-base;
    font-family: $font-stack;
    font-style: $style;
    font-weight: $medium;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,
a:visited,
a:link {
    color: $blue;
    text-decoration: none;
    outline: none;
    transition: all .5s ease;
}
a:hover {
    color: rgba($blue, .7);
    text-decoration: none;
    outline: none;
}
ul,
ol {
    clear: both
}
.fl {
    float: left
}

.fr {
    float: right
}

.fn {
    float: none;
    display: inline-block
}

.tal {
    text-align: left
}

.tar {
    text-align: right
}

.tac {
    text-align: center
}

.clr-l {
    clear: left
}

.clr-r {
    clear: right
}

.clr,
.clear {
    clear: both
}
.nodisp {
    display: none
}
h1,h2,h3,h4,h5,h6 {
    font-family: $header-stack;
    padding-bottom: 10px;
    line-height: 1.2;
    color: $dark-blue;
    text-transform: uppercase;
}
h1 {
    font-style: $style;
    font-size: 1.5rem;
    @include bp(md) {
        font-size: 2.14rem;
    }
}
h2 {
    font-size: 1.5rem;
    @include bp(md) {
        font-size: 2.14rem;
    }
}
h3 {
    font-size: 1.25rem;
    @include bp(md) {
        font-size: 2rem;
    }
}
p {
    padding-bottom: 1.5rem;
}
p, li {
    line-height: 2rem;
}
ol, ul {
    padding-bottom: 1.5rem;
}
