// Colors
$primary-color: rgb(12, 146, 146);
$alt-color: rgba(206, 240, 234, 0.68);
$black: #000;
$white: #fff;

// Font colors
// $base: #363636;
$base: rgb(46, 46, 46);
$sub: rgb(169, 169, 169);

// Typography
$font-size: 16px;
$font-stack: avenir-light, sans-serif;
$alt-stack: futura-pt, sans-serif;
$header-stack: din-2014, sans-serif;
$style: normal;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

// Spacing
$xs: .5rem;
$sm: 1rem;
$md: 1.5rem;
$lg: 2rem;
$xl: 4rem;
$xxl: 6rem;
$xxxl: 8rem;

// General
@font-face {
    font-family: avenir-light;
    src: url(../fonts/avenirltstd-light.otf);
}
html {
    font-size: $font-size;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    color: $base;
    font-family: $font-stack;
    font-style: $style;
    font-weight: $light;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,
a:visited,
a:link {
    color: $primary-color;
    text-decoration: none;
    outline: none;
    transition: all .5s ease;
}
a:hover {
    color: rgba($primary-color, .6);
    text-decoration: none;
    outline: none;
}
ul,
ol {
    clear: both
}
.fl {
    float: left
}

.fr {
    float: right
}

.fn {
    float: none;
    display: inline-block
}

.tal {
    text-align: left
}

.tar {
    text-align: right
}

.tac {
    text-align: center
}

.clr-l {
    clear: left
}

.clr-r {
    clear: right
}

.clr,
.clear {
    clear: both
}
.nodisp {
    display: none
}
h1,h2,h3,h4,h5,h6 {
    font-family: $header-stack;
    line-height: 1.1;
}
h1 {
    color: $primary-color;
    font-style: $style;
    font-weight: $light;
    // font-size: $xl;
    font-size: clamp(1.5rem, 5vw, 3rem);
}
h2 {
    // font-size: $lg;
    color: $primary-color;
    text-transform: uppercase;
    font-size: clamp(1.25rem, 5vw, 2.5rem);
}
h3 {
    font-family: proxima-nova, sans-serif;
    color: $sub;
    font-size: $md;
}
p {
    padding-bottom: $lg;
}
p, li {
    line-height: $lg;
}
