// header {{{
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgba(255,255,255,.95);
    transition: all .3s ease;
    .grid-container {
        padding: 10px 0;
        .logo {
            text-align: center;
            // margin-top: 3rem;
            img {
                width: 200px;
                transition: all .3s ease;
            }
        }
        .phone {
            font-family: $header-stack;
            font-weight: $bold;
            color: rgb(6, 73, 73);
            margin-top: .5rem;
            padding-bottom:.25rem;
        }
    }
    &.scroll {
        box-shadow: 0 10px 20px rgba(0,0,0,.08);
        .logo {
            img {
                width: 160px;
            }
        }
    }
}
.hamburger {
    z-index: 99999;
    position: absolute;
    top: 0;
    right: 15px;
    .hamburger-box {
        width: 24px!important;
        .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
            width: 24px;
            height: 3px;
        }
        .hamburger-inner::before {
            top: -8px;
        }
        .hamburger-inner::after {
            bottom: -8px;
        }
    }
}
// }}}

// nav {{{
#main-nav {
    opacity: 0;
    overflow-y: scroll;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #E6E6E6;
    transition: all .3s ease;
    &.open {
        opacity: 1;
        visibility: visible;
    }
}
// }}}

// #banner {{{
#banner-video {
    display: none;
    .grid-container {
        max-width: 100%;
        position: relative;
        text-align: center;
        video {
            // position: absolute;
            // top: 0;
            // right: 0;
            // left: 0;
            width: 83%;
            margin: 0 auto;
        }
    }
}
// }}}

// #testimonials {{{
#testimonials {
    padding: 4rem 0;
    h2 {
        color: $base;
        font-weight: $light;
        text-shadow:rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
        position:relative;
        margin-bottom: 1rem;
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
        &::before, &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 4px;
            background-color: $alt-color;
            display: block;
            width: 24%;
        }
    }
    .btn {
        margin-top: 1rem;
    }
}
// }}}

// .services {{{
.services {
    .content {
        padding: 0 2rem;
        display: flex;
        align-items: center;
        height: 35vw;
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color:rgba(195, 217, 217, 0.4);
            z-index: -1;
        }
        h2 {
            font-family: $alt-stack;
            font-weight: $bold;
            font-size: 9vw;
            color: $link;
        }
    }
    .breast {
        background: url(../images/breast.jpg) no-repeat center;
        background-size: cover;
    }
    .body {
        background: url(../images/body.jpg) no-repeat center;
        background-size: cover;
    }
    .face {
        background: url(../images/face.jpg) no-repeat center;
        background-size: cover;
        background-position-y: 35%;
    }
    .skin {
        background: url(../images/skin.jpg) no-repeat center;
        background-size: cover;
        h2 {
            color: $white;
        }
    }
    .faq {
        background: #C3D9D9;
        h2 {
            color: $white;
        }
    }
    &.mobile {
        margin-top: 134px;
        .grid-100 {
            padding:0;
        }
    }
    &.desktop {
        display: none;
        .grid-container {
            max-width: 100%;
        }
        .grid-20 {
            padding: 0;
        }
    }
}
// }}}

#breast-aug, #mommy-makeover, #rhinoplasty, #implant-removal {
    margin-bottom: 6rem;
    h2 {
        margin-bottom: 1rem;
    }
    img {
        width: 100%;
    }
    .btn {
        margin-left: 0;
    }
}

// #about {{{
#about {
    margin-bottom: 4rem;
    .grid-100 {
        h1 {
            font-size: 2.25rem;
            text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
            color: $base;
            margin-bottom: 2rem;
            span {
                color: rgb(12, 146, 146);
            }
        }
    }
    .grid-50 {
        h1 {
            text-transform: uppercase;
            color: $base;
            font-size: 2rem;
            text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
            margin-bottom: 1rem;
            span:first-of-type {
                color: rgb(12, 146, 146);
                font-size: 4rem;
            }
            span:last-of-type {
                font-size: 1.5rem;
            }
        }
    }
    .video-wrapper {
        text-align: center;
        position: relative;
        cursor: pointer;
        margin-bottom: 2rem;
        img {
            filter: brightness(.7);
        }
        .text {
            h3 {
                font-family: $header-stack;
                color: $white;
                margin-bottom: 1rem;
            }
            position: absolute;
            top: 50%;
            transform: translateY(-40%);
            right: 0;
            left: 0;
        }
    }
    .img-wrapper {
        margin-bottom: 2rem;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        a {
            display: inline-block;
            margin: 1rem .5rem;
        }
    }
    .goal {
        background-color: $alt-color;
        padding: 15px; 
        font-size: 1.1rem;
        font-weight: $bold;
        margin: 0 0 2rem 0;
        z-index:9;
        p {
            line-height: normal;
            padding: 0;
        }
    }
    .btn {
        margin-left: 0;
    }
}
// }}}

// footer {{{
footer {
    .top {
        .grid-container {
            max-width: 100%;
            .grid-50 {
                padding:0;
                
            }
        }
    }
    .gallery {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        video {
            width: 100%;
            z-index: -1;
        }
        .content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            h2 {
                color: $base;
                font-family: $header-stack;
                font-weight: $light;
                font-size:60px;
                text-align: center;
                span {
                    border-top: solid 4px rgb(195, 217, 217);
                    font-size: 50%;
                }
            }
            h1 {
                font-weight:$bold;
                margin-bottom: 1rem;
                text-align: center;
                font-family: $alt-stack!important;
                text-transform: uppercase;
                color: rgb(6, 73, 73);
                font-family: $header-stack;
                font-size: 100px;
                letter-spacing: 0.2em;
            }
        }
    }
    .contact {
        background: url(../images/contact-bg.jpg) no-repeat center;
        background-size: cover;
        position: relative;
        .content {
            padding: 2rem 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                color: $white;
                margin-bottom: 1rem;
            }
        }
        .agreement {
            color: $white;
            margin-bottom: .5rem;
            text-align: left;
        }
        .btn {
            margin-left: 0;
        }
    }
    .bottom {
        padding: 2rem 0;
        background-color: #CFE1E1;
        p {
            padding-bottom: .5rem;
        }
        .grid-33 {
            text-align: center;
            &:first-of-type {
                img {
                    margin-bottom: 2rem;
                }
            }
            .img-wrapper {
                margin-bottom: 1rem;
                display: flex;
                // flex-flow: row wrap;
                align-items: center;
                justify-content: center;
                a {
                    display:inline-block;
                    padding: .5rem;
                    margin:.5rem;
                }
            }
            .social {
                margin-bottom: 1rem;
                a {
                    color: $base;
                    font-size: 1.5rem;
                }
            }
            p {
                font-weight: $bold;
                padding-bottom:0;
            }
            &:last-of-type {
                margin-bottom: 2rem;
            }
        }
        .grid-50 {
            text-align:center;
        }
    }
}
// }}}

// #main {{{
#main {
    margin-top: 188px;
    &:not(.about) {
        padding: 4rem 0;
    }
    &.about {
        .top {
            overflow: hidden;
            background-color: #E6E6E6;
            .grid-container {
                padding: 4rem 0;
                position: relative;
                z-index: 1;
            }
            .bg {
                background-color: $white;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                height: 60%;
                width: 100%;
                z-index: -1;
                clip-path: polygon(0 0, 0% 100%, 100% 0);
            }
            .grid-50 {
                .tac {
                    h1 {
                        color: $sub;
                        font-weight:$bold;
                        font-family: $alt-stack;
                        text-transform: uppercase;
                    }
                }
            }
            p {
                line-height: 1.5;
            }
            .info, .edu, .memberships {
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
                border-radius: 6px;
                padding: 15px;
            }
            .info, .edu, .memberships {
                background-color:rgba(201,201,201,.4);
            }
            .edu, .memberships {
                margin-top: 2rem;
            }
            .info {
                background-color: $alt-color;
                margin-top: 2rem;
            }
        }
        #about-slider {
            height: 350px;
            overflow: hidden;
        }
        .memberships {
            h2 {
                display: inline-block;
                margin-bottom: 1rem;
            }
            i {
                color: #AFF3DC;
                display: inline-block;
                font-size: 2rem;
            }
        }
        .team {
            padding-top: 2rem;
            h2 {
                margin-bottom: 2rem;
            }
            h3 {
                font-size: 1.1rem;
                margin-bottom: 1rem;
            }
            img {
                display: block;
                margin: 0 auto 1rem;
                border: solid 6px $white;
                border-radius: 50%;
                box-shadow: 0 0 14px 0px rgba(0,0,0,0.2);
            }
        }
    }
}
// }}}
