// Buttons
a.btn,
button.btn {
    font-size: inherit;
    font-family: inherit;
    display: block;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    border:none;
    color: $white;
    font-weight: $bold;
    background:linear-gradient($light-gold, $gold);
    cursor:pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 2rem;
    transition: all .5s ease;
    &:hover {
        opacity: .8;
    }
}


/* FORM */
form {
    background-color: $purple;
    padding: 4rem 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
    input,
    select,
    textarea {
        font-size: inherit;
        font-family: inherit;
        font-weight:$regular;
        color: $white;
        width: 100%;
        margin: 0 0 10px;
        padding: 15px;
        border: none;
        border-bottom: 1px solid $white;
        background: none;
        transition: all .5s ease;
        &:focus {
            outline:none;
        }
    }
    textarea {
        height: 200px;
    }
    .agreement {
        color: $white;
        text-transform: capitalize;
        font-weight: $regular;
        margin: 1rem 0;
    }
    span.agree {
        display: inline-block;
    }
    ::placeholder {
        color: $white;
        font-weight:$regular;
        font-style: normal;
        font-family: inherit;
        font-size: inherit;
    }
}

