// header {{{
// }}}

// #banner {{{
#banner {
    background: url(../images/banner-main.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    .grid-container {
        width: 100%;
        .logo {
            text-align: center;
            padding-bottom: 3rem;
        }
    }
    @include for-size(md) {
        height: 600px;
    }
    @include for-size(desktop) {
        height: 900px;
    }
}
// }}}

// #main {{{
#main {
    padding: 6rem 0;
    h1,h3,p {
        text-align: center;
    }
    h1 {
        font-size: 3rem;
        font-weight: $thin;
        margin-bottom: 4rem;
        @include for-size(md) {
            font-size: 4rem;
        }
    }
    p {
        font-weight: $bold;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    h3 {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-weight: $thin;
    }
}
// }}}
