// Colors
$light-blue: #89cddf;
$blue: #3E97CB;
$dark-blue: #378aa0;;
$tan: #f0ebd8;
$dark-overlay: rgba(0,0,0,0.1);
$black: #000;
$white: #fff;
$white: green;

// Font colors
$text-base: #4d4d4d;
$text-dark: #333333;
$text-sub: #b5ad8f;

// Typography
$font-size: 16px;
$font-stack: quicksand, sans-serif;
$style: normal;
$thin: 300;
$regular: 400;
$semibold: 500;
$bold: 700;

// General
html {
    font-size: $font-size;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    color: $text-base;
    font-family: $font-stack;
    font-style: $style;
    font-weight: $regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,
a:visited,
a:link {
    color: $light-blue;
    text-decoration: none;
    outline: none;
    transition: all .5s ease;
}
a:hover {
    color: $text-sub;
    text-decoration: none;
    outline: none;
}
ul,
ol {
    clear: both
}
.fl {
    float: left
}

.fr {
    float: right
}

.fn {
    float: none;
    display: inline-block
}

.tal {
    text-align: left
}

.tar {
    text-align: right
}

.tac {
    text-align: center
}

.clr-l {
    clear: left
}

.clr-r {
    clear: right
}

.clr,
.clear {
    clear: both
}
.nodisp {
    display: none
}

// h1,h2,h3,h4,h5,h6 {
    // font-family: $header-stack;
// }

h1 {
    color: $light-blue;
    font-style: $style;
    font-weight: $regular;
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-family: proxima-nova, sans-serif;
    color: $text-sub;
    font-size: 1.5rem;
}
p {
    padding-bottom: 1.5rem;
}
p, li {
    line-height: 2rem;
}
