// Margin/ Padding Utilities
$spaces: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
$sides: (top, right, bottom, left);

// size, sides should be maps with key values
// need x, y added to sides/ need 'auto' added to size

@each $space in $spaces {
    .m-#{$space} {
        margin: #{$space/2}rem;
    }
    .p-#{$space} {
        padding: #{$space/2}rem;
    }
    .m-auto {
        margin: auto;
    }
    .p-auto {
        padding: auto;
    }
    @each $side in $sides {
        .m#{str-slice($side, 0, 1)}-#{$space} {
            margin-#{$side}: #{$space/2}rem;
        }
        .m#{str-slice($side, 0, 1)}-auto {
            margin-#{$side}: auto;
        }
        .my-auto {
            margin-top: auto;
            margin-bottom: auto;
        }
        .mx-auto {
            margin-right: auto;
            margin-left: auto;
        }
        .p#{str-slice($side, 0, 1)}-#{$space} {
            padding-#{$side}: #{$space/2}rem;
        }
        .p#{str-slice($side, 0, 1)}-auto {
            padding-#{$side}: auto;
        }
        .py-auto {
            padding-top: auto;
            padding-bottom: auto;
        }
        .px-auto {
            padding-right: auto;
            padding-left: auto;
        }
    }
}

// Breakpoints
@mixin for-size($size) {
    @if $size == xs {
        @media only screen and (max-width: 500px) { @content; }
    } 
    @else if $size == sm {
        @media only screen and (max-width: 767px) { @content; }
    } 
    @else if $size == md {
        @media only screen and (min-width: 768px) { @content; }
    } 
    @else if $size == tablet {
        @media only screen and (min-width: 960px) { @content; }
    } 
    @else if $size == desktop {
        @media only screen and (min-width: 1025px) { @content; }
    } 
    @else if $size == lg {
        @media only screen and (min-width: 1200px) { @content; }
    } 
    @else if $size == xl {
        @media only screen and (min-width: 2560px) { @content; }
    }
}
