// Spacing
@mixin padding($top: null, $right: null, $bottom: null, $left: null) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin margin($top: null, $right: null, $bottom: null, $left: null) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

// Breakpoints
@mixin for-size($size) {
    @if $size == xs {
        @media only screen and (max-width: 500px) { @content; }
    } 
    @else if $size == sm {
        @media only screen and (min-width: 767px) { @content; }
    } 
    @else if $size == md {
        @media only screen and (min-width: 768px) { @content; }
    } 
    @else if $size == tablet {
        @media only screen and (min-width: 960px) { @content; }
    } 
    @else if $size == desktop {
        @media only screen and (min-width: 1025px) { @content; }
    } 
    @else if $size == lg {
        @media only screen and (min-width: 1200px) { @content; }
    } 
    @else if $size == xl {
        @media only screen and (min-width: 2560px) { @content; }
    }
}

// Transitions
@mixin transition($props...) {
  -webkit-transition: $props;
  -moz-transition: $props;
  -ms-transition: $props;
  -o-transition: $props;
  transition: $props;
}

// Transforms
@mixin transform($props...) {
  -webkit-transform: $props;
  -moz-transform: $props;
  -ms-transform: $props;
  -o-transform: $props;
  transform: $props;
}

// Placeholders
@mixin placeholder {
    ::-webkit-input-placeholder {@content};
    :-moz-placeholder           {@content};
    ::-moz-placeholder          {@content};
    :-ms-input-placeholder      {@content}; 
}
