// Buttons
a.btn,
button.btn {
    font-size: inherit;
    font-family: inherit;
    font-weight: $bold;
    display: inline-block;
    // width: 100%;
    // max-width: 320px;
    margin: 0 auto;
    border:solid 3px $primary-color;
    color: $primary-color;
    background-color:$white;
    cursor:pointer;
    text-align: center;
    text-transform: uppercase;
    @include padding($top:$sm, $right:$lg, $bottom:$sm, $left:$lg);
    @include transition(all .5s ease);
    &:hover {
        background-color: $primary-color;
        color: $white;
    }
}

// Social
.social {
    a {
        display: inline-block;
        margin: 0 $xs;
        font-size: 1.25rem;
    }
}

//Nav
.stellarnav {
    li.has-sub > ul {
        padding-left: 1rem;
    }
    li > .dd-toggle i {
        @include transition(all 0s);
    }
    li.open > .dd-toggle i {
        -moz-transform: rotate(180deg)!important;
        -webkit-transform: rotate(180deg)!important;
        transform: rotate(180deg)!important;
    }
    li.open > a {
        font-weight:$bold;
        text-decoration: underline;
    }
    &.mobile {
        background-color:#E9E9E9;
        .third {
            width: 33.3333%;
            color: $primary-color;
            padding: 25px 15px;
            &:hover {
                background-color:$primary-color;
                color: $white;
            }
        }
        .close-menu {
            width: 100%;
            color: $base;
        }
        li > a {
            border-top: solid 1px rgba(0,0,0,.08);
        }
        ul {
            background:none;
        }
    }
    .dd-toggle {
        height: 51px;
        .fa-plus::before {
            content: '\f078';
        }
    }
    ul {
        li {
            a {
                color: $base;
            }
        }
    }
    &.desktop {
        ul ul {
            background-color: $white;
            box-shadow: 5px 5px 20px rgba(0,0,0,.06);
            a {
                font-size: .875rem;
            }
        }
        > ul > li > a {
            padding: 20px 10px;
            font-weight: $extra-bold;
        }
    } 

}

/* FORM */
form {
    input,
    select,
    textarea {
        font-size: inherit;
        font-family: inherit;
        width: 100%;
        margin: 0 0 10px;
        padding: 15px;
        border: 1px solid $primary-color;
        background: #fff;
        @include transition(all .5s ease);
        &:focus {
            outline:none;
        }
    }
    textarea {
        height: 200px;
    }
    span.agree {
        display: inline-block;
    }
    @include placeholder {
        font-style: normal;
        color: $dark;
        font-family: inherit;
        font-size: inherit;
    }
}

