// Buttons
a.btn,
button.btn {
    font-size: inherit;
    font-family: $btn-stack;
    display: inline-block;
    border:none;
    background:none;
    cursor:pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 2rem;
    transition: all .5s ease;
    &:hover {
        // background-color: $alt-color;
    }
}

a.btn-square,
button.btn-square {
    font-size: inherit;
    font-family: $btn-stack;
    letter-spacing: 6px;
    display: block;
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    border:none;
    background: rgba($dark-red, .75);
    cursor:pointer;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 2rem;
    transition: all .5s ease;
    &:hover {
        background-color: $dark-red;
    }
}

// Social
.social {
    a {
        display: inline-block;
        font-size: 1.25rem;
    }
}

//Nav
.stellarnav {
    > ul > li > a:first-of-type {
        font-size: clamp(1rem, 4vw, 1.25rem);
    }
    &.mobile {
        > ul {
            border:none;
        }
        li {
            a {
                border:none;
                text-transform: uppercase;
                color: rgba($white, .65);
                display: inline-block;
                &:hover {
                    color: $white;
                }
            }
        }
        li.has-sub > ul li a:first-of-type {
            padding-left: 2rem;
        }
        ul {
            background:none;
        }
    }
    li > .dd-toggle i {
        transition:none;
    }
    li.open > .dd-toggle i {
        transform: rotate(180deg)!important;
    }
    li.open > a {
        color: $white;
        font-weight:$bold;
        text-decoration: underline;
    }
    .menu-toggle {
        display: none!important;
    }
    #menu-main-navigation {
        display: block!important;
    }
    .dd-toggle {
        height: 51px;
        .fa-plus::before {
            content: '\f078';
        }
    }
}

/* FORM */
form {
    input,
    select,
    textarea {
        font-size: inherit;
        font-family: inherit;
        width: 100%;
        margin: 0 0 10px;
        padding: 15px;
        border: 1px solid $text-base;
        background: #fff;
        transition: all .5s ease;
        &:focus {
            outline:none;
        }
    }
    textarea {
        height: 200px;
    }
    span.agree {
        display: inline-block;
    }
    placeholder {
        font-style: normal;
        font-family: inherit;
        font-size: inherit;
    }
}

// Accordion
.accordion {
    .panel {
        margin-bottom: 1rem;
    }
    p {
        line-height: 1.75;
        padding: 0;
    }
    .accordion-title {
        cursor: pointer;
        padding: 1rem 15px;
        position: relative;
        h3 {
            margin-left: 3.5rem;
            font-size: 1.125rem;
            line-height:1.1;
            padding: 0;
            transition: all .3s ease;
        }
    }
    .accordion-content {
        padding: 5px 15px 0;
    }
}


