// Buttons
a.btn,
button.btn {
    font-size: inherit;
    font-family: $btn-stack;
    font-weight: $bold;
    letter-spacing: 6px;
    display: inline-block;
    border:none;
    background:none;
    cursor:pointer;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    color: $dark-red;
    &.white {
        color: $white;
        &::before, &::after {
            background-color: $white;
        }
        span {
            &::before, &::after {
                background-color: $white;
            }
        }
    }
    &::before, &::after {
        content: '';
        width: 0;
        height: 2px;
        position: absolute;
        transition: all 0.2s linear;
        background: $dark-red;
        transition-delay: 0.2s;
    }
    &:hover {
        &::before, &::after {
            transition-delay: 0s;
            width: 100%;
        }
        span {
            &::before, &::after {
                transition-delay: .2s;
                height: 100%;
            }
        }
    }
    &::before {
        top: 0;
        right: 0;
    }
    &::after {
        width: 2rem;
        bottom: 0;
        left: 0;
    }
    span {
        padding: 1rem 2rem;
        display: block;
        &::before, &::after {
            content: '';
            width: 2px;
            height: 0;
            position: absolute;
            transition: all 0.2s linear;
            transition-delay: 0s;
            background: $dark-red;
        }
        &::before {
            left: 0;
            top: 0;
        }
        &::after {
            right: 0;
            bottom: 0;
        }
    }
}

a.btn-square,
button.btn-square {
    font-size: inherit;
    font-family: $btn-stack;
    letter-spacing: 6px;
    display: block;
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    border:none;
    background: rgba($dark-red, .75);
    cursor:pointer;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 2rem;
    transition: all .5s ease;
    &:hover {
        background-color: $dark-red;
    }
}

// Social
.social {
    a {
        color: rgba(255,255,255,.75);
        display: inline-block;
        font-size: 1.25rem;
        &:hover {
            color: $white;
        }
    }
}

//Nav
.stellarnav {
    > ul > li > a:first-of-type {
        font-size: clamp(1rem, 4vw, 1.25rem);
    }
    &.mobile {
        > ul {
            border:none;
        }
        li {
            a {
                border:none;
                text-transform: uppercase;
                color: rgba($white, .65);
                display: inline-block;
                font-family: $btn-stack;
                letter-spacing: 2px;
                &:hover {
                    color: $white;
                }
            }
        }
        li.has-sub > ul li a:first-of-type {
            padding-left: 2rem;
        }
        ul {
            background:none;
        }
    }
    li > .dd-toggle i {
        transition:none;
    }
    li.open > .dd-toggle i {
        transform: rotate(180deg)!important;
    }
    li.open > a {
        color: $white;
        font-weight:$bold;
        text-decoration: underline;
    }
    .menu-toggle {
        display: none!important;
    }
    #menu-main-navigation {
        display: block!important;
    }
    .dd-toggle {
        height: 51px;
        .fa-plus::before {
            content: '\f078';
        }
    }
}

/* FORM */
form {
    input,
    select,
    textarea {
        font-size: inherit;
        font-family: inherit;
        width: 100%;
        margin: 0 0 10px;
        padding: 15px;
        border: 1px solid $text-base;
        background: #fff;
        transition: all .5s ease;
        &:focus {
            outline:none;
        }
    }
    textarea {
        height: 200px;
    }
    span.agree {
        display: inline-block;
    }
    placeholder {
        font-style: normal;
        font-family: inherit;
        font-size: inherit;
    }
}

// Accordion
.accordion {
    .panel {
        margin-bottom: 1rem;
    }
    p {
        line-height: 1.75;
        padding: 0;
    }
    .accordion-title {
        cursor: pointer;
        padding: 1rem 15px;
        position: relative;
        h3 {
            margin-left: 3.5rem;
            font-size: 1.125rem;
            line-height:1.1;
            padding: 0;
            transition: all .3s ease;
        }
    }
    .accordion-content {
        padding: 5px 15px 0;
    }
}


