// Buttons
a.btn,
button.btn {
    font-size: inherit;
    font-family: inherit;
    font-weight: 700;
    display: inline-block;
    margin: 0 auto;
    border:none;
    color: $white;
    background: $pink;
    cursor:pointer;
    text-align: center;
    padding: .75rem 1.5rem;
    transition: all .5s ease;
    &:hover {
        opacity: .7;
    }
}

// Social
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        display: inline-block;
        margin: 0 .4rem;
        font-size: 15px;
        border-radius: 10px 0 10px 0;
        background: $green;
        color: $white;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background: $light-green;
        }
    }
}

//Nav
.stellarnav {
    &.mobile {
        border: solid 1px rgba(0,0,0,.2);
        ul {
            background:none;
        }
        li {
            > .dd-toggle {
                height: 51px;
                i {
                    transition:none;
                    &::before {
                        content: '\f078';
                    }
                }
            }
            &.open {
                > .dd-toggle {
                    i {
                        transform: rotate(180deg)!important;
                    }
                }
                > a {
                    font-weight:700;
                    text-decoration: underline;
                } 
            }
            &.has-sub {
                > ul {
                    li {
                        > a {
                            &:first-of-type {
                                padding-left: 2rem;
                            }
                        }
                    } 
                } 
            }
            > a {
                border-top: solid 1px rgba(0,0,0,.08);
            }
        }
        .third {
            width: 33.3333%;
            color: $white;
            padding: 25px 15px;
        }
        .close-menu {
            width: 100%;
            color: $white;
        }

    }
    &.desktop {
        > ul {
            ul {
                background: $pink;
                li {
                    a {
                        &:hover {
                            background: $green;
                        }
                    }
                }
            }
            > li {
                > a {
                    padding: 20px 10px;
                }
            }
        } 
    }
    ul {
        li {
            a {
                color: $white;
                text-transform: uppercase;
            }
        }
    }
}

/* FORM */
form {
    input,
    select,
    textarea {
        font-size: inherit;
        font-family: inherit;
        width: 100%;
        margin: 0 0 10px;
        padding: 15px;
        border: 1px solid $text-base;
        background: #fff;
        transition: all .5s ease;
        &:focus {
            outline:none;
        }
    }
    textarea {
        height: 200px;
    }
    span.agree {
        display: inline-block;
    }
    ::placeholder {
        font-style: normal;
        font-family: inherit;
        font-size: inherit;
    }
}

