// Colors
$green: #4e8b8b;
$light-green: #9be3e2;
$black: #000;
$white: #fff;

// Font colors
$text-base: #333;
// $text-dark: #202020;
$text-sub: #bebebe;

// Typography
$font-root-size: 16px;
$font-stack: 'muli', sans-serif;
$header-stack: 'Frank Ruhl Libre', sans-serif;
$style: normal;
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

// General
@font-face {
    font-family: 'Frank Ruhl Libre';
    src: url(../fonts/Frank-Ruhl-Libre.ttf);
}

html {
    font-size: $font-root-size;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    width: 100%;
    overflow-x: hidden;
    color: $text-base;
    font-family: $font-stack;
    font-style: $style;
    font-weight: $regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,
a:visited,
a:link {
    color: $green;
    text-decoration: none;
    outline: none;
    transition: all .5s ease;
}
a:hover {
    // color: rgba($green, .6);
    outline: none;
}
ul,
ol {
    clear: both
}
.fl {
    @include bp(desktop) {
        float: left;
    }
}

.fr {
    @include bp(desktop) {
        float: right;
    }
}

.fn {
    float: none;
    display: inline-block
}

.tal {
    text-align: left
}

.tar {
    text-align: right
}

.tac {
    text-align: center
}

.clr-l {
    clear: left
}

.clr-r {
    clear: right
}

.clr,
.clear {
    clear: both
}
.nodisp {
    display: none
}
h1,h2,h3,h4,h5,h6 {
    font-family: $header-stack;
    line-height: 1.1;
}
h1 {
    font-style: $style;
    font-size: 24px;
    @include bp(md) {
        font-size: 40px;
    }
}
h2 {
    color: $text-sub;
    font-size: 20px;
    @include bp(md) {
        font-size: 30px;
    }
}
h3 {
    font-size: 18px;
    @include bp(md) {
        font-size: 24px;
    }
}

p {
    padding-bottom: 1rem;
}
p, li {
    line-height: 2rem;
}
ol, ul {
    padding-bottom: 1rem;
}
img {
    padding-bottom: 1.5rem;
}
.tac-mobile {
    @include bp(sm) {
        text-align: center;
    }
}
