// Buttons
a.btn,
button.btn {
    font-family: inherit;
    font-weight: $bold;
    line-height: 20px;
    display: inline-block;
    margin: 0 auto;
    border:none;
    cursor:pointer;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: $green;
    color: $white;
    font-size: .875rem;
    z-index:1;
    position: relative;
    transition: all .5s ease;
    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $black;
        color: $green;
        transform: scaleX(0);
        transform-origin: 50%;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
        border-radius: 5px;
    }
    &:hover {
        background-color: $green;
        &::before {
            transform: scaleX(1);
        }
    }
}

// Social
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        display: inline-block;
        margin: 0 .5rem;
        font-size: 1.25rem;
    }
}

//Nav
.stellarnav {
    li > .dd-toggle i {
        transition:none;
    }
    li.open > .dd-toggle i {
        transform: rotate(180deg)!important;
    }
    li.open > a {
        font-weight:700;
        text-decoration: underline;
    }
    &.mobile {
        border: solid 1px rgba(255,255,255,.4);
        li.has-sub > ul li a:first-of-type {
            padding-left: 2rem;
        }
        .third {
            font-family: $header-stack;
            width: 33.3333%;
            color: $green;
            padding: 25px 15px;
            &:hover {
                color:$white;
            }
        }
        .close-menu {
            font-family: $header-stack;
            width: 100%;
            color: $white;
            &:hover {
                color:$light-green;
            }
        }
        li > a {
            border-top: solid 1px rgba(0,0,0,.08);
        }
        ul {
            background:none;
        }
    }
    .dd-toggle {
        height: 51px;
        .fa-plus::before {
            content: '\f078';
        }
    }
    ul {
        li {
            a {
                text-transform: uppercase;
                font-family: $header-stack;
                color: rgba(255, 255, 255, 0.8);
                &:hover {
                    color:$light-green;
                }
                @include bp(desktop) {
                    font-size: .875rem;
                }
                @include bp(lg) {
                    font-size: 1rem;
                }
            }
        }
    }
    &.desktop {
        > ul > li > a {
            padding: 20px 12px;
            @include bp(lg) {
                padding: 20px 16px;
            }
        }
        > ul {
            > .has-sub {
                position: relative;
                &::before {
                    content: '\f0d7';
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    font-size: .875rem;
                    position: absolute;
                    color: $white;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        ul {
            ul {
                background-color: $green;
                border-radius: 0 0 20px 20px;
            }
        }
    }
}

/* FORM */
form {
    input,
    select,
    textarea {
        font-size: inherit;
        font-family: inherit;
        width: 100%;
        margin: 0 0 10px;
        padding: 15px;
        border: 1px solid $text-base;
        background: #fff;
        transition: all .5s ease;
        &:focus {
            outline:none;
        }
    }
    textarea {
        height: 200px;
    }
    span.agree {
        display: inline-block;
    }
    ::placeholder {
        font-style: normal;
        font-family: inherit;
        font-size: inherit;
    }
}

