// header {{{
header {
    background: $lightblue-bg;
    .top {
        background: $gold;
        height: 20px;
    }
    .grid-container {
        max-width: 1400px;
    }
}
// }}}

// #banner {{{
// }}}

// #section {{{
// }}}

// #section {{{
// }}}

// #section {{{
// }}}

// #section {{{
// }}}

// #section {{{
// }}}

// #section {{{
// }}}

// #section {{{
// }}}

// #contact {{{
// }}}

// footer {{{
// }}}

// #main {{{
// }}}
