// Colors
$light-green: #E8F4F4;
$border-green: #D0E0E0;
$dark-green: #0aa1af;
$yellow: #F0AD4E;
$quote-gray: #818a91;
$black: #000;
$white: #fff;

// Font colors
$text-base: #7a7a7a;
$text-dark: #54595f;
$text-sub: #e87f7e;

// Typography
$font-root-size: 16px;
$font-stack: 'gothica1-regular', sans-serif;
$header-stack: 'playfair-display', serif;
$sub-header-stack:'montserrat', sans-serif;
$specialty-stack:'antic-didone', sans-serif;
$style: normal;
$thin: 100;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

//Fonts
@font-face {
    font-family: antic-didone;
    src: url(../fonts/AnticDidone-Regular.ttf);
}
@font-face {
    font-family: gothica1-light;
    src: url(../fonts/GothicA1-Light.ttf);
}
@font-face {
    font-family: gothica1-regular;
    src: url(../fonts/GothicA1-Regular.ttf);
}
@font-face {
    font-family: gothica1-semibold;
    src: url(../fonts/GothicA1-SemiBold.ttf);
}
@font-face {
    font-family: gothica1-bold;
    src: url(../fonts/GothicA1-Bold.ttf);
}

// General
html {
    font-size: $font-root-size;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    color: $text-base;
    font-family: $font-stack;
    font-style: $style;
    font-weight: $regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a,
a:visited,
a:link {
    // color: $blue;
    text-decoration: none;
    outline: none;
    transition: all .5s ease;
}
a:hover {
    // color: rgba($blue, .6);
    text-decoration: none;
    outline: none;
}
ul,
ol {
    clear: both
}
.fl {
    float: left
}

.fr {
    float: right
}

.fn {
    float: none;
    display: inline-block
}

.tal {
    text-align: left
}

.tar {
    text-align: right
}

.tac {
    text-align: center
}

.clr-l {
    clear: left
}

.clr-r {
    clear: right
}

.clr,
.clear {
    clear: both
}
.nodisp {
    display: none
}
h1,h2,h3,h4,h5,h6 {
    font-family: $header-stack;
}
h1 {
    font-style: $style;
    font-weight: $regular;
    font-size: 2rem;
}
@supports ( font-size:clamp(2rem, 6vw, 4rem) ) {
    h1 {
        font-size: clamp(2rem, 6vw, 4rem);
    }
}

h2 {
    color: $text-sub;
    font-size: 1.75rem;
}
@supports ( font-size:clamp(1.75rem, 4vw, 2.5rem) ) {
    h2 {
        font-size: clamp(1.75rem, 4vw, 2.5rem);
    }
}

h3 {
    color: $text-sub;
    font-size: 1.25rem;
}
@supports ( font-size:clamp(1.25rem, 3.5vw, 2rem) ) {
    h3 {
        font-size: clamp(1.25rem, 3.5vw, 2rem);
    }
}

p {
    padding-bottom: 2rem;
}
p, li {
    line-height: 2rem;
}
ol, ul {
    padding-bottom: 2rem;
}
img {
    padding-bottom: 2rem;
}
