// Buttons
a.btn,
button.btn {
    font-size: inherit;
    font-family: inherit;
    font-weight: 700;
    letter-spacing: 2px;
    display: inline-block;
    margin: 0 auto;
    border:solid 1px $text-dark;
    color: $text-dark;
    cursor:pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 2.5rem;
    transition: all .5s ease;
    &:hover {
        background: $text-dark;
        color: $white;
    }
}

// Social
.social {
    a {
        display: inline-block;
        margin: 0 .5rem;
        font-size: 1.25rem;
    }
}

.close-overlay {
    background:rgba(0,0,0,.06);
}

// Nav
.snazzymenu {
    background: rgba(255,255,255,.95);
    border-bottom: solid 1px rgba(0,0,0,.1);
    .controls {
        // max-width: 1400px;
        max-width: 1170px;
        margin: 0 auto;
        .logo {
            img {
                width: 224px;
            }
        }
    }
    a,span,svg {
        color: $text-dark;
    }
    .menu-toggle {
        &:hover {
            color: $text-dark;
        }
        color: $text-dark;
    }

    &.desktop {
        border-bottom: none;
        &.fixed {
            border-bottom: solid 1px rgba(0,0,0,.1);
        }
        > ul {
            background: rgba(255,255,255,.95);
            li {
                &.has-sub {
                    > a {
                        &::after {
                            border-color: $text-dark;
                            transition: all .5s ease;
                        }
                    }
                }
                &.active {
                    > a {
                        color: $dark-turquoise;
                        &::after {
                            border-color: $dark-turquoise;
                        }
                    }
                }
            }
            a {
                color: $text-dark;
            }
        }
        .mega-menu {
            background: rgba(255,255,255,.95);
            padding: 0 1rem 2rem;
        }
    }
    &.mobile {
        ul {
            li {
                &.has-sub {
                    .toggle {
                        &::after {
                            border-color: $text-dark;
                        }
                    }
                }
            }
        }
    }
    ul {
        padding-bottom: 0;
        li {
            a {
                color:$text-dark;
            }
        }
    }
}

/* FORM */
form {
    input,
    select,
    textarea {
        font-size: inherit;
        font-family: inherit;
        width: 100%;
        margin: 0 0 10px;
        padding: 15px;
        border: 1px solid $text-base;
        background: #fff;
        transition: all .5s ease;
        &:focus {
            outline:none;
        }
    }
    textarea {
        height: 200px;
    }
    span.agree {
        display: inline-block;
    }
    ::placeholder {
        font-style: normal;
        font-family: inherit;
        font-size: inherit;
    }
}

