// Buttons
a.btn,
button.btn {
    font-size: inherit;
    font-family: $alt-stack5;
    // display: inline-block;
    display: block;
    width: 100%;
    max-width: 320px;
    // margin: 0 auto;
    color: $white;
    // letter-spacing: 2px;
    border: solid 1px rgba(255,255,255,.9);
    // border-radius: 4px;
    font-weight: 600;
    cursor:pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem .5rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all .3s ease;
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background: rgba(255,255,255,.9);
        transition: all .4s cubic-bezier(.215,.61,.355,1);
    }
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        height: 0;
        left: 50%;
        top: 50%;
        width: 150%;
        transition: all .75s ease;
    }
    &:hover {
        color: $yellow;
        &::before {
            top: 0;
            // bottom: auto;
            height: 100%;
        }
        &::after {
            height: 450%;
        }
    }
    @include bp(sm) {
        // font-size: .875rem;
        // padding: 1rem;
    }
}

// Social
.social {
    a {
        display: inline-block;
        margin: 0 .5rem;
        font-size: 1.25rem;
    }
}

// Hamburger
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    font-family: $alt-stack1;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
overflow: visible; }
.hamburger:hover {
opacity: 0.7; }
.hamburger.is-active:hover {
opacity: 0.7; }
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
background-color: #fff; }

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
position: relative; }

.hamburger-inner {
    display: block;
    top: 50%;
margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #fff;
    // border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
display: block; }
.hamburger-inner::before {
top: -8px; }
.hamburger-inner::after {
bottom: -8px; }

// Squeeze
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }



//Nav
.stellarnav {
    &.mobile {
        > ul {
            border:none;
        }
        ul {
            background:none;
        }
        li {
            > .dd-toggle {
                height: 51px;
                i {
                    transition:none;
                    &::before {
                        content: '\f078';
                    }
                }
            }
            &.open {
                > .dd-toggle {
                    i {
                        transform: rotate(180deg)!important;
                    }
                }
                > a {
                    font-weight:700;
                    text-decoration: underline;
                } 
            }
            &.has-sub {
                > ul {
                    ul {
                        li {
                            a {
                                &:first-of-type {
                                    padding-left: 3rem;
                                }
                            }
                        }
                    }
                    li {
                        > a {
                            &:first-of-type {
                                padding-left: 1.5rem;
                            }
                        }
                    } 
                } 
            }
            a {
                border-bottom: 1px solid rgba(255,255,255,0);
            }
        }
        .third {
            width: 33.3333%;
            color: $text-base;
            padding: 25px 15px;
        }
        .close-menu {
            width: 100%;
            color: $text-base;
        }

    }
    ul {
        ul {
            li {
                &.has-sub {
                    > a {
                        font-size: 1rem;
                    }
                }
                a {
                    font-size: .875rem;
                }
            }
        }
        li {
            a {
                color: $white;
                font-family: $alt-stack5;
                // font-size: .875rem; 
                text-transform: uppercase;
                &:hover {
                    color: $yellow;
                }
            }
        }
    }
}

/* FORM */
form {
    input,
    select,
    textarea {
        font-size: inherit;
        font-family: inherit;
        width: 100%;
        margin: 0 0 10px;
        padding: 15px;
        border: 1px solid $text-base;
        background: #fff;
        transition: all .5s ease;
        &:focus {
            outline:none;
        }
    }
    textarea {
        height: 200px;
    }
    span.agree {
        display: inline-block;
    }
    ::placeholder {
        font-style: normal;
        font-family: inherit;
        font-size: inherit;
    }
}

