// Buttons
a.btn,
button.btn {
    font-size: inherit;
    font-family: inherit;
    display: inline-block;
    margin: 0 auto;
    border:none;
    // color: $white;
    cursor:pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 2rem;
    transition: all .5s ease;
    &:hover {
    }
}

// Social
.social {
    a {
        display: inline-block;
        margin: 0 .5rem;
        font-size: 1.25rem;
    }
}

// Hamburger
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
overflow: visible; }
.hamburger:hover {
opacity: 0.7; }
.hamburger.is-active:hover {
opacity: 0.7; }
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
background-color: #fff; }

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
position: relative; }

.hamburger-inner {
    display: block;
    top: 50%;
margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
display: block; }
.hamburger-inner::before {
top: -10px; }
.hamburger-inner::after {
bottom: -10px; }

// Squeeze
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }



//Nav
.stellarnav {
    &.mobile {
        border: solid 1px rgba(0,0,0,.2);
        ul {
            background:none;
        }
        li {
            > .dd-toggle {
                height: 51px;
                i {
                    transition:none;
                    &::before {
                        content: '\f078';
                    }
                }
            }
            &.open {
                > .dd-toggle {
                    i {
                        transform: rotate(180deg)!important;
                    }
                }
                > a {
                    font-weight:700;
                    text-decoration: underline;
                } 
            }
            &.has-sub {
                > ul {
                    li {
                        > a {
                            &:first-of-type {
                                padding-left: 2rem;
                            }
                        }
                    } 
                } 
            }
            > a {
                border-top: solid 1px rgba(0,0,0,.08);
            }
        }
        .third {
            width: 33.3333%;
            color: $text-base;
            padding: 25px 15px;
        }
        .close-menu {
            width: 100%;
            color: $text-base;
        }

    }
    &.desktop {
        > ul {
            > li {
                > a {
                    padding: 20px 18px;
                }
            }
        } 
    }
    ul {
        li {
            a {
                color: $text-base;
                text-transform: uppercase;
            }
        }
    }
}

/* FORM */
form {
    input,
    select,
    textarea {
        font-size: inherit;
        font-family: inherit;
        width: 100%;
        margin: 0 0 10px;
        padding: 15px;
        border: 1px solid $text-base;
        background: #fff;
        transition: all .5s ease;
        &:focus {
            outline:none;
        }
    }
    textarea {
        height: 200px;
    }
    span.agree {
        display: inline-block;
    }
    ::placeholder {
        font-style: normal;
        font-family: inherit;
        font-size: inherit;
    }
}

