// @keyframes {{{
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}
@keyframes caretFadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(6px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes fadeInDown {
0%{opacity:0;transform:translateY(-20px)}
100%{opacity:1;transform:translateY(0)}
}
// }}}

// header {{{
.main-wrapper {
    overflow-x: hidden;
    width: 100%;
}
header {
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: all .3s ease;
    animation: fadeIn .5s ease;
    animation-delay: .5s;
    animation-fill-mode: both;
    &.stuck {
        // background: rgba($black, .9);
        background: $black;
        // .logo {
            // img {
                // width: 250px;
            // }
        // }
    }
    // .logo {
        // img {
            // width: 267px;
            // transition: all .3s ease;
        // }
    // }
    .grid-container {
        display: flex;
        align-items: center;
    }
    .grid-60 {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .phone, .consult {
            position: relative;
            display:inline-block;
            color: $white;
            padding: .5rem 1.5rem;
            @include bp(sm) {
                display:none;
            }
            @media only screen and (max-width: 959px) and (min-width: 768px) {
                font-size: .875rem;
            }
            &::after {
                content: '';
                background: $white;
                width: 1px;
                height: 60%;
                display: inline-block;
                margin: auto;
                top: 0;
                transform: skew(-20deg);
                bottom: 0;
                right: 0rem;
                position: absolute;
            }
            &:hover {
                color: rgba($white, .7);
            }
        }
    }
    .hamburger {
        color: $white;
        display: flex;
        align-items: center;
        font-family: $alt-stack5;
        font-weight: 300;
        > span {
            &:first-of-type {
                margin-right: .4rem;
            }
        }
    }
    a {
        color: $white;
        text-transform: uppercase;
        font-family: $alt-stack5;
        font-weight: 300;
        &:hover {
            color: rgba($white, .7);
        }
    }
}
// }}}

// .close-overlay {{{
.close-overlay {
    position:fixed;
    background: rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    transition: all .3s ease;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}
// }}}

// #banner {{{
#banner {
    background: url(../images/banner-main.png) no-repeat center;
    background-size: cover;
    // background-attachment: fixed;
    animation: fadeIn .5s ease;
    animation-delay: .5s;
    animation-fill-mode: both;
    .grid-100 {
        text-align: center;
        height: 700px;
        // max-height: 110vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-bottom: 8rem;
        @include bp(md) {
            height: 1000px;
            max-height: 110vh;
            padding-bottom: 12rem;
        }
        @include bp(xl) {
            height: 45.45vw;
            padding-bottom: 8.73vw;
        }
        h1 {
            color: $white;
            line-height: 1.1;
            font-family: $alt-stack5;
            font-weight: 700;
            margin-bottom: 2rem;
            font-size: 2.5rem;
            text-transform: uppercase;
            animation: fadeInUp .5s ease;
            animation-delay: 1s;
            animation-fill-mode: both;
            &:first-of-type {
                margin-bottom: 0;
            }
            @include bp(md) {
                display: inline-block;
                font-size: 3.5rem;
                &:first-of-type {
                    margin-right: 1rem;
                    margin-bottom: 2rem;
                }
            }
            @include bp(desktop) {
                font-size: 4.5rem;
            }
            @include bp(xl) {
                font-size: 5rem;
            }
        }
        .btn {
            animation: fadeInUp .5s ease;
            animation-delay: 1.25s;
            animation-fill-mode: both;
        }
    }
}
// }}}

// #desktop-menu {{{
#desktop-menu {
    display: none;
    position: fixed;
    top: 0;
    // background-color: rgba(0,0,0,.9);
    background-color: $black;
    width: 100%;
    padding: 8rem 0 6rem;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all .3s ease;
    > div {
        &:not(:first-child) {
            display: none;
        }
        &.active {
            display: block;
            > ul {
                animation: fadeIn 1s ease;
                // animation-delay: .1s;
                animation-fill-mode:both;
            }
            > div {
                animation: fadeIn .75s ease;
                animation-fill-mode:both;
            }
        }
    }
    &.open {
        z-index: 10;
        opacity: 1;
        visibility: visible;
    }
    @include bp(desktop) {
        display: block;
    }
    ul {
        padding-bottom:0;
    }
    a {
        color: $white;
        display: inline-block;
        padding: .25rem 1rem;
        font-size: .875rem;
        @media only screen and (min-width: 1280px) {
            font-size: 1rem;
        }
        &:hover {
            color: $yellow;
        }
    }
    .grid-container {
        max-width: 100%;
        @media only screen and (min-width: 1280px) {
            padding: 0 30px;
        }
    }
    #menu-desktop-menu, .menu-bxa-controls {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;
        @media only screen and (min-width: 1280px) {
            padding-right: 41px;
            padding-left: 41px;
        }
        li {
            padding: 0 .25rem;
            flex: auto;
            a {
                color: $white;
                text-align: center;
                display: block;
                text-transform: uppercase;
                font-weight: 600;
                position: relative;
                padding: .75rem 0rem;
                font-family: $alt-stack5;
                &:hover {
                    color: $yellow;
                }
            };
            &.active {
                a {
                    // background: $yellow;
                    color: $yellow;
                    // padding-bottom: 1rem;
                    &::after {
                        content: '\f078';
                        font-family:'Font Awesome 5 Free';
                        font-weight:900;
                        display: block;
                        text-align: center;
                        left: 0;
                        right: 0;
                        bottom: -.5rem;
                        position: absolute;
                        animation: caretFadeIn .5s ease;
                        animation-fill-mode: both;
                    }
                }
            }
        }
    }
    .menu-bxa-controls {
        margin-bottom: 1rem;
        padding-bottom: 0;
    }
    .bxa-menu-slider {
        > ul {
            > li {
                display: none;
                &.active {
                    display: block;
                }
            }
        }
    }
    #menu-procedures, #menu-medspa, #menu-about, #menu-resources {
        .menu-item-has-children {
            > a {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.125rem;
                margin-top: 2rem;
            }
        }
        img {
            width: 100%;
        }
    }
    .menu-bxa-container {
        .menu-bxa-controls, .menu-body-controls, .menu-breast-controls, .menu-face-controls, .menu-skin-controls, .menu-mens-controls, .menu-medspa-controls {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 2rem;
            a {
                text-transform: uppercase;
                position: relative;
                // font-weight: 300;
                // font-family: $alt-stack1;
                padding: .5rem;
                // font-weight: 700;
                &.flex-active {
                    color: $yellow;
                    &::after {
                        content: '\f078';
                        font-family:'Font Awesome 5 Free';
                        font-weight:900;
                        display: block;
                        text-align: center;
                        left: 0;
                        right: 0;
                        bottom: -.7rem;
                        position: absolute;
                        animation: caretFadeIn .5s ease;
                        animation-fill-mode: both;
                    }
                }
            }
        }
        .bxa-menu-slider {
            .grid-33 {
                text-align: center;
                a {
                    &:hover {
                        h3 {
                            color: $yellow;
                        }
                        img {
                            filter: brightness(1);
                        }
                    }
                    img {
                        filter: brightness(.8);
                        transition: all .5s ease;
                    }
                }
            }
        }
        h3 {
            font-size: 1rem;
            text-align: center;
            color: $white;
            margin-top: 1rem;
            transition: all .5s ease;
            // font-family: $alt-stack1;
            text-transform: uppercase;
        }
        .btn {
            margin-top: 2rem;
            border-color: $yellow;
            color: $yellow;
            display:inline-block;
            width: auto;
            &::before {
                background: $yellow;
            }
            &:hover {
                color: $black;
            }
        }
    }
    .menu-membership-container, .menu-out-of-town-container, .menu-promos-container {
        a {
            display: inline-block;
            overflow: hidden;
            position: relative;
            &:hover {
                h3 {
                    // color: $yellow;
                    opacity:1;
                    visibility: visible;
                    transform: translateY(-50%);
                }
                img {
                    filter: brightness(.4);
                }
            }
            img {
                // filter: brightness(.8);
                transition: all .5s ease;
            }
            h3 {
                text-align: center;
                position: absolute;
                font-weight: 300;
                color: $white;
                top: 50%;
                left: 0;
                right: 0;
                // font-family: $alt-stack1;
                text-transform: uppercase;
                opacity:0;
                visibility: hidden;
                // transform: translateY(5px);
                transition: all .4s ease;
            }
        }
    }
    .menu-videos-container {
        .btn {
            margin-top: 2rem;
            border-color: $yellow;
            color: $yellow;
            display:inline-block;
            width: auto;
            &::before {
                background: $yellow;
            }
            &:hover {
                color: $black;
            }
        }
    }
    .menu-video-controls {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 2rem;
        a {
            text-transform: uppercase;
            position: relative;
            // font-weight: 300;
            // font-family: $alt-stack1;
            padding: .5rem;
            // font-weight: 700;
            &.flex-active {
                color: $yellow;
                &::after {
                    content: '\f078';
                    font-family:'Font Awesome 5 Free';
                    font-weight:900;
                    display: block;
                    text-align: center;
                    left: 0;
                    right: 0;
                    bottom: -.7rem;
                    position: absolute;
                    animation: caretFadeIn .5s ease;
                    animation-fill-mode: both;
                }
            }
        }
    }
    .menu-out-of-town-container {
        a {
            padding:0;
        }
        img {
            width: 100%;
        }
        h3 {
            @media only screen and (max-width: 1199px) and (min-width: 1025px) {
                font-size: 1.125rem;
            }
        }
    }
}
// }}}

// #mobile-menu {{{
#mobile-menu {
    position: fixed;
    right: 0;
    // background:rgba(0,0,0,.95);
    background:$black;
    height: 100%;
    width: 100%;
    // max-width: 600px;
    z-index:99;
    transform: translateY(-100%);
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    // transition-duration: .45s;
    @include bp(desktop) {
        display:none;
    }
    &.open {
        transform: translateY(0);
        .overlay {
            animation: fadeInUp .8s cubic-bezier(0.165, 0.84, 0.44, 1);
            animation-delay: .5s;
            animation-fill-mode: both;
        }
    }
    .overlay {
        height: 100%;
        padding: 8rem 1rem;
        overflow-y: scroll;
        @include bp(md) {
            padding: 8rem 2rem;
        }
    }
    .info {
        margin: 3rem 0 2rem;
        text-align: center;
        p {
            color: $white;
            font-family: $alt-stack5;
            text-transform: uppercase;
            line-height: 1.5;
        }
        a {
            color: $white;
            &:hover {
                color: $yellow;
            }
        }
    }
    .stellarnav {
        > ul {
            display: block!important;
        }
        .menu-toggle {
            display:none;
        }
    }
}
// }}}

// #welcome {{{
#welcome {
    margin-top: 4rem;
    p {
        color: $gold;
        font-size: 1.25rem;
        line-height: 1.75;
        text-align: center;
        @include bp(md) {
            font-size: 1.875rem;
        }
    }
}
// }}}

// #doctors {{{
#doctors {
    margin-top: 8rem;
    padding: 6rem 0 12rem;
    background: url(../images/meet-bg.png) no-repeat center;
    background-size: cover;
    @include bp(md) {
        min-height: 1000px;
        height: 34vw;
        display: flex;
        align-items: center;
        padding-top: 0rem;
    }
    h2, p {
        color: $white;
    }
    h2 {
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-weight: 300;
        opacity: 0;
        transform: translateX(-40px);
        transition: all .6s ease;
        &.visible {
            opacity: 1;
            transform: translateX(0);
        }
    }
    p {
        font-size: 1.125rem;
        line-height: 1.75;
        margin-bottom: 1rem;
        @include bp(md) {
            font-size: 1.5625rem;
        }
        opacity: 0;
        transform: translateX(-40px);
        transition: all .6s ease;
        &.visible {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .btn-wrapper {
        text-align: center;
        opacity: 0;
        transform: translateX(-40px);
        transition: all .6s ease;
        &.visible {
            opacity: 1;
            transform: translateX(0);
        }
        @include bp(md) {
            display: flex;
            flex-flow: row wrap;
        }
        .btn {
            margin-bottom: 2rem;
            margin-right: 1rem;
        }
    }
}
// }}}

// #specialties {{{
#specialties {
    padding: 20rem 0 10rem;
    margin-top: -21rem;
    background: url(../images/procs-bg.png) no-repeat center;
    background-size: cover;
    text-align: center;
    @include bp(md) {
        min-height: 850px;
        height: 32vw;
        display: flex;
        align-items: center;
        padding:0;
    }
    @include bp(xl) {
        margin-top: -14vw;
    }
    .grid-container {
        @include bp(md) {
            width: 100%;
        }
    }
    h2, a {
        color: $white;
    }
    h2 {
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 4rem;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 1s ease;
        &.visible {
            opacity: 1;
            transform: translateY(0);
        }
    }
    p {
        padding-bottom:0;
        margin-top: 1.5rem;
        font-size: 1.625rem;
    }
    img, p {
        transition: all .5s ease;
    }
    a {
        display: block;
        &:hover {
            img, p {
                transform: translateY(-15px);
            }
        }
    }
    .flex-wrapper {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: center;
    }
    .grid-25 {
        @include bp(sm) {
            margin-bottom: 4rem;
        }
    }
}
// }}}

// #procs {{{
#procs {
    padding: 6rem 0;
    @include bp(md) {
        padding: 10rem 0;
    }
    .grid-container {
        max-width: 1400px;
        display: flex;
        flex-flow: row wrap;
    }
    .grid-33 {
        padding: 0;
    }
    .content {
        overflow: hidden;
        position:relative;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.5);
        }
        &.active {
            .overlay {
                transform: translateY(0);
                ul {
                    animation: fadeInDown .5s ease; 
                    animation-delay: .3s;
                    animation-fill-mode: both;
                }
            }
            h3 {
                display:none;
            }
        }
        .overlay {
            position: absolute;
            height: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            background-color: rgba(0,0,0,.8);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transform: translateY(100%);
            transition: all .7s cubic-bezier(0.19,1,0.22,1);
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0;
                justify-content: center;
                a {
                    color: $white;
                    padding: .5rem;
                    display:inline-block;
                    &::after {
                        content: '';
                        background: $white;
                        display: block;
                        height: 1px;
                        width: 0;
                        transition: all .5s cubic-bezier(0.19,1,0.22,1);
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }
        h3 {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 300;
            position: absolute;
            bottom: 2rem;
            text-align: center;
            left: 0;
            right: 0;
            color: $white;
        }
        img {
            width: 100%;
        }
    }
}
// }}}

// #bxa {{{
#bxa {
    margin: 4rem 0 6rem;
    .grid-container {
        max-width: 1400px;
        display: flex;
        flex-flow: row wrap;
        align-items:center;
        justify-content:center;
    }
    .grid-33, .grid-30 {
        padding: 0 5px;
    }
    .content {
        position: relative;
        img {
            width: 100%;
        }
        .btn {
            position: absolute;
            top: 50%;
            max-width: 210px;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    h2 {
        color: $gold;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: .5rem;
        opacity: 0;
        transform: translateY(20px);
        transition: all 1s ease;
        &.visible {
            opacity: 1;
            transform: translateY(0);
        }
        @include bp(desktop) {
            font-size: 2.5rem;
        }
        @media only screen and (min-width: 1340px) {
            font-size: 3.5rem;
        }
    }
    p {
        opacity: 0;
        transform: translateY(20px);
        transition: all 1s ease;
        &.visible {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
// }}}

// #testimonials {{{
#testimonials {
    padding: 8rem 0;
    // background: url(../images/testimonials-bg.png) no-repeat center;
    background: url(../images/testimonials-bg1.jpg) no-repeat center;
    background-size: cover;
    @include bp(desktop) {
        height: 20vw;
        min-height: 660px;
        display: flex;
        align-items: center;
    }
    .grid-container {
        max-width: 1400px;
        @include bp(md) {
            display: flex;
            align-items: center;
        }
    }
    .grid-50 {
        &:first-of-type {
            @include bp(sm) {
                margin-bottom: 4rem;
            }
        }
    }
    iframe {
        height: 400px;
        min-height: auto;
    }
    h2 {
        text-transform: uppercase;
        color: $gold;
        margin-bottom: 1rem;
        // opacity: 0;
        // transform: translateY(-20px);
        // transition: all 1s ease;
        &.visible {
            // opacity: 1;
            // transform: translateY(0);
            animation: fadeInRight 1s ease;
            animation-fill-mode: both;
        }
    }
    .btn {
        border-color: $black;
        color: $black;
        margin-top: 1rem;
        &::before {
            background: $black;
        }
        &:hover {
            color: $yellow;
        }
    }
    .flex-direction-nav {
        display: flex;
        align-items: center;
    }
    .flex-prev, .flex-next {
        width: 50px;
        color: $black;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px $black;
        &::before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            font-size: 2rem;
            transition: all .5s ease;
        }
        &:hover {
            border-color: $yellow;
            &::before {
                color: $yellow;
            }
        }
    }
    .flex-prev {
        margin-right: .5rem;
        &::before {
            content: '\f053';
        }
    }
    .flex-next {
        &::before {
            content: '\f054';
        }
    }
}
// }}}

// #services {{{
#services {
    padding: 6rem 0;
    background: #00CBE2;
    @include bp(md) {
        background: url(../images/services-bg.png) no-repeat center;
        background-size:cover;
        height:43vw;
        min-height: 1100px;
        display: flex;
        align-items: center;
    }
    .grid-container {
        max-width: 1400px;
        width: 100%;
    }
    h2, h3, p, a {
        color: $white;
    }
    h2, h3 {
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
    h2 {
        margin-left: calc(15px + .5rem);
    }
    h3 {
        font-size:1.5rem;
    }
    .services-controls {
        padding: 0;
        @include bp(sm) {
            margin-bottom: 4rem;
        }
        li {
            line-height: 1.75;
        }
        a {
            display:inline-block;
            padding: .5rem;
            // font-size: .875rem;
            text-transform: uppercase;
            &.flex-active {
                color: $black;
            }
        }
    }
    p {
        padding: 0;
    }
}
// }}}

// #social-media {{{
#social-media {
    margin: 8rem 0;
    h2 {
        text-transform: uppercase;
        color: $gold;
        margin-bottom: 2rem;
    }
    .social {
        a {
            margin: 1rem;
            font-size: 3rem;
            color: $black;
            &:hover {
                color: $yellow;
            }
        }
    }
}
// }}}

// #insta {{{
#insta {
    margin-bottom: 8rem;
    h2 {
        text-align: center;
        text-transform: uppercase;
        color: $gold;
        font-size: 5.2vw;
        @include bp(tablet) {
            font-size: 3rem;
        }
    }
}
// }}}

// #contact {{{
#contact {
    padding: 8rem 0;
    background: url(../images/contact-bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    h2 {
        text-align: center;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 4rem;
        span {
            display: block;
            font-size: 75%;
        }
    }
}
// }}}

// footer {{{
footer {
    padding: 6rem 0 4rem;
    background: $yellow;
    .grid-container {
        max-width: 1400px;
        h3, p, a, span {
            color: $white;
        }
        a {
            &:hover {
                color: $black;
            }
        }
        p {
            line-height: normal;
            font-family: $alt-stack5;
        }
    }
    .top {
        padding-bottom: 2rem;
        .grid-33, .grid-40 {
            text-align: center;
            @include bp(desktop) {
                text-align: left;
            }
        }
        .grid-60 {
            .grid-33 {
                &:last-of-type {
                    @include bp(md) {
                        margin-top: 3.45rem;
                    }

                }
            }
        }
        .copyright {
            margin-top: 3rem;
            .rating {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                margin-bottom: 1rem;
                @include bp(desktop) {
                    justify-content: flex-start;
                }
            }
            span {
                font-family: $alt-stack5;
                margin-left: .25rem;
                // text-align: left;
                font-size: .875rem;
            }
        }
        h3 {
            text-transform: uppercase;
            margin-bottom: 1rem;
        }
    }
    .bottom {
        > .grid-container {
            padding-top: 2rem;
            border-top: solid 1px $white;
        }
        p {
            padding: 0;
            text-align: center;
            @include bp(md) {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                justify-content: space-between;
            }
            a {
                display: inline-block;
                padding: 1rem;
            }
        }
    }
}
// }}}

// #main {{{
// }}}
